{{#each this}}
<li class="menu__item">
    <article class="card">
          <h1 class="card__name"> {{name}}</h1>

        <div class="card__content">
            <div>   <p class="card__price">
                <i class="capital">
               Capital: {{capital}}
            </p>

            <p class="card__descr">Population: {{population}}</p>
            <ul class="tag-list">
                 Languages:
                {{#each languages}}
                <li class="tag-list">{{name}}</li>
                {{/each}}
            </ul>
        </div>
<div>
     <img src="{{flag}}" alt="{{name}}" width="200px">
     </div>

</div>
    </article>
</li>
{{/each}}